# nRF5 (not mesh) SDKs
/nRF5_SDK_15.0.0_a53641a/*
/nRF5_SDK_15.2.0_9412b96/*
/nRF5_SDK_15.3.0_59ac345/*
/nRF5SDK1510a8c0c4d/*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
# *.mod*
# *.cmd
# .tmp_versions/
# modules.order
# Module.symvers
# Mkfile.old
# dkms.conf

# SEGGER

*.emSession
